In [1]:
from pymoo.algorithms.soo.nonconvex.de import DE
from pymoo.problems import get_problem
from pymoo.optimize import minimize

from utils import *
import pandas as pd
import itertools
from tqdm import tqdm

In [2]:
dim = 5
run = 1
instance_id = 1
n_eval=2000

dfs = []
problems_list = list(range(1, 3))
for problem_id1, problem_id2 in tqdm(list(itertools.product(problems_list, problems_list))):
    
    print(problem_id1, problem_id2)
    problem1 = get_problem(f"bbob-f{problem_id1}-{instance_id}", n_var=dim)
    problem2 = get_problem(f"bbob-f{problem_id2}-{instance_id}", n_var=dim)
    
    mix = CombinedProblem(problem1, problem2, 0.2)
    
    data = run_algorithms(mix, n_runs=2, n_eval=n_eval)
    pdf = pd.DataFrame(data)

    pdf['best'] = 0
    pdf['problem1'] = problem_id1
    pdf['problem2'] = problem_id2
    pdf['instance'] = instance_id
    pdf['dim'] = mix.n_var
    pdf['algorithm_run'] = run
    pdf['n_eval'] = f'{n_eval}D'
    
    dfs.append(pdf)

  0%|          | 0/4 [00:00<?, ?it/s]

1 1

 25%|██▌       | 1/4 [00:16<00:50, 16.86s/it]

1 2

 50%|█████     | 2/4 [00:33<00:33, 16.53s/it]

2 1

 75%|███████▌  | 3/4 [00:49<00:16, 16.44s/it]

2 2

100%|██████████| 4/4 [01:06<00:00, 16.51s/it]

In [3]:
df = pd.concat(dfs)
df

,GA,PSO,DE,CMAES,ES,algorithm_run,best,problem1,problem2,instance,dim,n_eval
0,0.000011,1.000000e-20,1.000000e-20,1.000000e-20,9.854617e-09,1,0,1,1,1,5,2000D
1,0.000003,1.000000e-20,1.000000e-20,1.000000e-20,3.460939e-08,1,0,1,1,1,5,2000D
0,0.027620,1.000000e-20,1.000000e-20,2.533636e-15,9.911958e-05,1,0,1,2,1,5,2000D
1,0.003836,1.000000e-20,1.000000e-20,1.455192e-15,2.364108e-03,1,0,1,2,1,5,2000D
0,0.000023,1.000000e-20,1.000000e-20,7.018033e-19,4.334481e-07,1,0,2,1,1,5,2000D
1,0.000005,1.000000e-20,1.000000e-20,1.056169e-18,1.391399e-06,1,0,2,1,1,5,2000D
0,0.003404,1.000000e-20,1.000000e-20,1.000000e-20,7.664695e-04,1,0,2,2,1,5,2000D
1,0.011884,1.000000e-20,1.000000e-20,1.000000e-20,3.834121e-04,1,0,2,2,1,5,2000D

In [4]:
sdf = dgf

NameError: name 'dgf' is not defined

In [ ]:
dim = 5
run = 3
dfs = []
for problem_id in tqdm(range(1, 3)):
    for instance_id in range(1, 2):
        problem = get_problem(f"bbob-f{problem_id}-{instance_id}", n_var=dim)
        data = run_algorithms(problem, n_runs=2)
        pdf = pd.DataFrame(data)
        
        pdf['best'] = problem.ideal_point()[0]
        pdf['problem'] = problem_id
        pdf['instance'] = instance_id
        pdf['dim'] = problem.n_var
        pdf['algorithm_run'] = run
        
        dfs.append(pdf)

In [ ]:
df = pd.concat(dfs)
df

In [ ]:
dfg = sef

In [ ]:
dfs = []
for problem_id in tqdm(range(1, 25)):
    for instance_id in range(1, 6):
        problem = get_problem(f"bbob-f{problem_id}-{instance_id}", n_var=5)
        data = run_algorithms(problem, n_runs=5)
        pdf = pd.DataFrame(data)
        pdf['problem'] = problem_id
        pdf['instance'] = instance_id
        dfs.append(pdf)

In [ ]:
df = pd.concat(dfs)
df

In [ ]:
rdf = df[['GA', 'PSO', 'DE', 'CMAES', 'ES']].rank(axis=1)
rdf['problem'] = df['problem']
rdf['instance'] = df['instance']
rdf

In [ ]:
rdf.groupby('problem').mean()

In [ ]:
rdf.groupby(['problem', 'instance']).mean().reset_index()

In [ ]:
v = rdf.groupby(['problem', 'instance']).mean().reset_index()


fig = plt.figure(figsize=(12, 14))
# display the DataFrame using imshow
plt.imshow(v[['GA', 'PSO', 'DE', 'CMAES', 'ES']], cmap='viridis')
# add a colorbar to the figure
plt.colorbar()