In [1]:
from joblib import Parallel, delayed
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
files = glob.glob('runs/*.csv')

In [3]:
dfs = Parallel(n_jobs=-1)(delayed(lambda file: pd.read_csv(file, index_col=False))(file=file) for file in files)

In [4]:
df = pd.concat(dfs)

In [5]:
df

,GA,PSO,DE,CMAES,ES,algorithm_run,problem1,problem2,instance1,instance2,alpha,dim,optimum
0,7.559904e-02,1.000000e-20,1.000000e-20,1.421085e-14,9.604912e-04,1,1,2,5,5,0.0,5,1.000000e-20
1,3.949642e-02,1.000000e-20,1.000000e-20,3.446340e-15,2.674908e-03,1,1,2,5,5,0.1,5,1.000000e-20
2,2.928538e-02,1.000000e-20,1.000000e-20,4.411316e-15,1.077512e-03,1,1,2,5,5,0.2,5,1.000000e-20
3,8.122012e-04,1.000000e-20,1.000000e-20,1.929266e-15,8.650983e-05,1,1,2,5,5,0.3,5,1.000000e-20
4,7.105923e-04,1.000000e-20,1.000000e-20,4.915550e-17,3.221554e-05,1,1,2,5,5,0.4,5,1.000000e-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,3.724298e-07,1.000000e-20,1.000000e-20,1.000000e-20,1.863236e-08,1,1,1,2,2,0.6,5,1.000000e-20
7,2.612270e-06,1.000000e-20,1.000000e-20,5.684342e-14,1.117832e-08,1,1,1,2,2,0.7,5,1.000000e-20
8,7.169239e-06,1.000000e-20,1.000000e-20,1.000000e-20,8.268842e-09,1,1,1,2,2,0.8,5,1.000000e-20
9,1.530108e-06,1.000000e-20,1.000000e-20,1.000000e-20,2.004265e-08,1,1,1,2,2,0.9,5,1.000000e-20
10,1.633837e-07,1.000000e-20,1.000000e-20,1.000000e-20,3.060379e-07,1,1,1,2,2,1.0,5,1.000000e-20

In [10]:
(df['GA'] - df['optimum']).mean()

0.010632743490095428

In [15]:
(df['CMAES'] - df['optimum']).mean()

0.1011364926279947

In [20]:
from datetime import datetime
str(datetime.now())

'2023-05-10 09:41:25.668934'

In [21]:
a = {'a': 2, 'b':12}
b = {'a': 2, 'b':12}
pd.DataFrame([a, b])

   a   b
0  2  12
1  2  12